/**
 * @name fakecrime.bio
 * @description A darkened discord theme in the style of fakecrime.bio
 * @author ISOPISO, Crinchy
 * @website https://fakecrime.bio
 * @version 1.2
 * @source https://github.com/ISOPISO/fakecrime
 * @authorId 721129414364102707 (ISOPISO)
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!! */

@import url('https://isopiso.github.io/fakecrime.bio/fakecrime.css');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'figtree';

	/* color of green online dot, change to #23a55a for default green */
	--online-indicator: var(--accent-2);

	/* top left icon */
	--bolt-icon: block; /* change to none to hide bolt icon */
	--discord-icon: none; /* change to block to show default discord icon */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* roundness of big panel outer corners */
	--roundness-xl: 22px;
	/* popout panels */
	--roundness-l: 20px;
	/* smaller panels, images, embeds */
	--roundness-m: 16px;
	/* members, settings inputs */
	--roundness-s: 12px;
	/* channels, buttons*/
	--roundness-xs: 10px;
	/* searchbar, small elements */
	--roundness-xxs: 8px;

	/* color of links */
	--accent-1: hsl(25, 85%, 55%);
	/* color of unread dividers and some indicators */
	--accent-2: hsl(25, 85%, 55%);
	/* color of accented buttons */
	--accent-3: hsla(0, 0%, 40%, 0.403);
	/* color of accented buttons when hovered */
	--accent-4: hsl(25, 85%, 55%);
	/* color of accented buttons when clicked */
	--accent-5: hsl(25, 85%, 55%);
	/* color of mentions and messages that mention you */
	--mention: hsla(26, 80%, 52%, 0.1);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: hsla(25, 80%, 52%, 0.05);

	/* color of bright text on colored buttons */
	--text-1: hsl(0, 0%, 93%);
	/* color of headings and important text */
	--text-2: hsl(0, 0%, 78%);
	/* color of normal text */
	--text-3: hsl(0, 0%, 65%);
	/* color of icon buttons and channels */
	--text-4: hsl(0, 0%, 46%);
	/* color of muted channels/chats and timestamps */
	--text-5: hsl(0, 0%, 25%);

	/* color of dark buttons when clicked */
	--bg-1: hsl(0, 0%, 8%);
	/* color of dark buttons */
	--bg-2: hsl(0, 0%, 8%);
	/* color of spacing around panels and secondary elements */
	--bg-3: hsl(0, 0%, 8%);
	/* main background color */
	--bg-4: hsl(0, 0%, 10%);
	/* color of channels and icon buttons when hovered */
	--hover: hsla(30, 75%, 60%, 0.1);
	/* color of channels and icon buttons when clicked or selected */
	--active: hsla(22, 20%, 40%, 0.2);
	/* color of messages when hovered */
	--message-hover: hsla(220, 0%, 0%, 0.1);
}

[class^='tutorialContainer'] svg [class^="wrapper"] > [class^="childWrapper"] img,
[class^='tutorialContainer'] svg [class^="wrapper"] > [class^="childWrapper"] svg {
	/* Hide the default icon. */
	display: none;
}
[class^='tutorialContainer'] svg [class^="wrapper"] > [class^="childWrapper"]::after {
	/* Create a new icon in its place. */
	content: ' ';
	display: block;
	position: relative;
	width: 42px;
	height: 42px;
	line-height: 32px;
	opacity: 0.8;
	transition: all 50ms linear;
	background: url('https://upload.wikimedia.org/wikipedia/commons/3/3e/Fakecrime.orange.png') center / contain no-repeat;
}
[class^='tutorialContainer'] svg [class^="wrapper"]  > [class^="childWrapper"]:hover::after {
	/* Transformations for hover effects go here. */
	opacity: 1;
	transform: scale(1.1) rotateZ(-10deg);
}
